/*Projects section*/
  
#projects {
    display: flex;
    width: 100%;
    height: 100vh;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* background: linear-gradient(45deg, var(--skyblue), var(--purple)); */
    background: var(--almostblack);
  }

  #project-title {
    display: relative;
    font-family: Raleway, Helvetica;
    text-align: center;
    font-size: 2rem;
    margin-bottom: 60px;
    margin-top: 0px;
    grid-area: 1/1/2/4;
    color: white;
  }

  .projects-grid-container {
    display: grid;
    grid-template-columns: repeat(auto-fill);
    gap: auto;
    width: 100%;
    max-width: 70vw;
    justify-content: center;
  }

  #project-one {
    grid-area: 2/1/3/2;
  }

  #project-two {
    grid-area: 2/2/3/3;
  }

  .profile-link:hover .project-title-appear {
    color: var(--almostblack);
    transition: color 0.3s ease-out;
  }

  .profile-link {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: auto;
  }

  .project-boxes {
    background: grey;
    /* box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5); */
    height: 375px;
    width: 500px;
    margin: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .module {
    background: white;
    color: white;
    border-radius: 8px;
    margin: 0;
    height: 98.5%;
    width: 98.5%;
  }

  .module-border-wrap {
    padding: 2px;
    border-radius: 11.75px;
    background-image: linear-gradient(128deg, rgba(227,220,0,1) 0%, rgba(0,113,207,1) 100%);
    background-clip: padding-box;
    -webkit-text-fill-color: inherit;
  }

  .project-images {
    height: 90%;
    width: 90%;
    object-fit: cover;
    margin-top: 24px;
  }

  .project-titles {
    position: relative;
    text-align: center;
    top: 2px;
    font-family: Raleway, Helvetica;
    font-size: 1.2rem;
  }

  .project-title-appear {
    color: white;
    text-align: center;
    display: inline-block;
    width: 40px;
    position: relative;
  }

  .fa-arrow-right-long {
    margin-right: 10px;
  }

  .fa-arrow-left-long {
    margin-left: 10px;
  }

  .fa-circle {
    font-size: 8px;
  }

  @media (max-width: 1200px) {
    .project-boxes {
        background: grey;
        box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
        border-radius: 2px;
        height: 300px;
        width: 400px;
        margin: 15px;
    }

    #projects {
        height: 120vh;
    }
}

@media (max-width: 900px) {
    .project-boxes {
        background: grey;
        box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
        border-radius: 2px;
        height: 400px;
        width: 500px;
        margin: 15px;
      }

    #project-one {
        grid-area: 2/1/3/2;
      }
    
      #project-two {
        grid-area: 3/1/4/2;
      }

    #project-title {
        grid-area: 1/1/2/2;
    }
}

@media (max-width: 700px) {
  .project-boxes {
    width: 350px;
    height: 280px;
  }
}